.client-indicator-container {
    margin-top: 80px;
    margin-right: 10px;
    flex-direction: Column;
    width: 200px;
    height: Auto;
    align-items: FlexEnd;
}

.client-indicator-template {
    margin-bottom: 5px;
}

.background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 50px;
}

.wait-progress-bar {
    -unity-background-image-tint-color: #00FF00 !important;
    height: 10px;
}