.gold-popularity-container {
    margin-top: 15px;
    margin-right: 75px;
}

.gold-label {
    font-size: 18px;
    color: #FFD700;
    margin-right: 10px;
    unity-text-align: right;
    font: Arial;
}

.popularity-label {
    font-size: 18px;
    color: #FFFFFF;
    unity-text-align: right;
    font: Arial;
}